body {
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
transition: margin-left 0.3s;
}

.navbar {
position: fixed;
top: 0;
left: 0;
width: 250px;
height: 100%;
background-color: #000000d2;
display: flex;
flex-direction: column;
align-items: center;
transition: width 0.3s;
overflow: hidden;
z-index: 1000; /* Asegura que el navbar esté por encima del contenido */
}

.navbar.open {
width: 60px;
}

.hamburger {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
cursor: pointer;
margin: 10px 0;
}

.hamburger .bar {
width: 25px;
height: 3px;
background-color: white;
margin: 3px 0;
transition: all 0.3s;
}

.navbar ul {
list-style: none;
padding: 0;
margin: 0;
width: 100%;
}

.navbar li {
width: 100%;
}

.menu-item {
display: flex;
align-items: center;
padding: 15px;
color: white;
text-decoration: none;
transition: background-color 0.3s;
cursor: pointer;
}

.menu-item:hover {
background-color: #575757;
}

.menu-item .icon {
margin-right: 10px;
width: 24px;
height: 24px;
}

.menu-text {
display: inline-block;
transition: opacity 0.3s;
}

.navbar.open .menu-text {
opacity: 0;
width: 0;
overflow: hidden;
}

.logout-button {
background: none;
border: none;
color: white;
width: 100%;
text-align: left;
padding: 15px;
}

.logout-button:hover {
background-color: #575757;
}

@media (max-width: 768px) {
.navbar {
    width: 60px;
}

.navbar.open {
    width: 250px;
}

.menu-text {
    display: none;
}

.navbar.open .menu-text {
    display: inline-block;
}
}

.navbar-open {
margin-left: 0px;
}

